.converted-title:hover {
    animation-name: highlight-converted;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes highlight-converted {
    0% {
    }

    50% {
        color: white;
    }

    100% {
    }
}

body.paatti-popup-visible *[data-klikkikuri-original-title] {
    text-decoration: blink !important;
    color: red !important;
    border: 1px solid red !important;
}
