.main-view-header {
    height: 22%;
    display: flex;
    justify-content: center;
}

.button-toggle {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    perspective: 1000px;

    font-size: 400%;
}

.button-toggle input {
    display: none;
}

.button-toggle .button-toggle-face:hover {
    color: #029956;
    outline: 2px solid #22B976;
}

.button-toggle input:checked+.button-toggle-face:hover {
    color: #555;
    outline: 2px solid #444;
}

.button-toggle .button-toggle-face {
    display: inline-block;
    background: #fbfbfb;
    outline: 1px outset #555;
    border-radius: 6px;
    box-shadow:
        #777 4px 4px,
        #777 0px 0px inset;
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        background 0.2s ease-in-out;
    ;
    font-family: monospace;
    text-align: center;
    min-width: 100px;

    color: #555;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

/* When checked - looks like pressed in */
.button-toggle input:checked+.button-toggle-face {
    transform: translateY(4px);
    outline: 1px inset #555;
    box-shadow:
        #777 0px 0px,
        #777 1px 1px inset;

    background: #e3e3e3;
    color: #029956;
    outline: 1px solid #22B976;
}